/* Reset some default styles */

body,
ul {
    margin: 0;
    padding: 0;
}


/* Basic styles for header */

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}


/* Styles for main sections */

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}


/* Footer styles */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* Project section styles */

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}